{% extends 'layout.html' %} {% block body %}

<div class="jumbotron text-center">
  <h1>About us</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel felis ac
    arcu hendrerit imperdiet. Nam tempor, elit nec eleifend tempor, lectus ante
    vulputate dui, ut iaculis massa sapien eu massa. Morbi imperdiet ligula ac
    erat finibus elementum. Duis consequat ex sit amet neque vestibulum, id
    posuere tortor laoreet. Curabitur consequat lorem vel odio vulputate cursus.
    Aliquam vitae purus et ipsum egestas ornare sed eu ex. Nulla sed condimentum
    quam, sed vestibulum dui. Sed eget enim sit amet mi hendrerit fermentum sed
    in risus. Nulla arcu ipsum, ullamcorper a rhoncus et, dapibus et ante. Ut
    purus eros, malesuada quis viverra eu, convallis sit amet mi. Proin non
    euismod lacus. Maecenas lacinia volutpat diam, a volutpat sapien accumsan
    eget. Vestibulum non tellus ut tellus ultrices dictum in nec velit. Proin
    faucibus vestibulum sem ut semper. Nunc faucibus urna in nisl dignissim
    varius. Donec ut tempor lacus.
  </p>

  {% endblock %}
</div>
